{% extends 'base.html' %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="/static/css/maps.css"/>

    <script src="/static/js/maps.js"></script>

    <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb0ZrGWvOlzV7dfZ_dXRfO5j7UP9Hr46w&callback=initMap">
  
  </script>

  
    <!-- <style>
      #map{
        height:450px;
        width:33%
      }
    </style> -->

    {% endblock %}

    {% block body %}
    <h1>Click on a marker to learn more about the neighborhood</h1>
    <div id="map"></div>

    {% endblock %}
