{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<h1>{{ name }} </h1>

  
  <h2> {{ description }} </h2>

  <h2> Median Rental Price: ${{ median_rental }} </h2>

  <h2> Median Home Price: ${{ median_home }} </h2>

  <h2> Average $/Sq Ft: ${{ sq_ft_price }} </h2>

  <h2> Walk Score: {{ walk_score }} </h2>

  <h2> Transit Score: {{ transit_score }} </h2>

  {% for image in images %}
    <img src="{{ image }}">
    {% endfor %}

  <h2> Restaurants </h2>
    
      {% for restaurant in restaurant_data %}
      <ul>
        <h4>{{ restaurant.name }}</h4>
        <li>{{ restaurant.formatted_address }}</li>
        <li>Rating: {{ restaurant.rating }}</li>
        <li><a href="{{ restaurant.website }}">Link</a></li>
     </ul>
      {% endfor %}

      <p>
        <a href="/housing/{{ neighborhood_id }}">Find {{ name }} housing</a>
      </p>
      <p>
        <a href="/check_login/{{ neighborhood_id }}">Post {{ name }} housing</a>
      </p>
      <p>
      <a href="/search_map">Select new neighborhood</a>
    </p>

  
{% endblock %}