{% extends 'base.html' %}

{% block title %} All Users {% endblock %}

{% block body %}
<h1>{{ name }} Details </h1>

  
  <h2> long_desc </h2>

  <h2> Median Home Price: </h2>

  <h2> Median Rental Price: </h2>

  <h2> Walk Score </h2>

  <h2> Transit Score </h2>

  <h2> Restaurant List </h2>
    <ul>
      <li>Restaurant 1</li>
      <li>Restaurant 2</li>
      <li>Restaurant 3</li>
    </ul>

    <button id="find-housing">Find Housing</button>
    <button id="post-housing">Post Housing</button>
    <p>
      <button id="back">Back</button>
    </p>

  
{% endblock %}