{% extends 'base.html' %}

{% block title %} Neighborhoods {% endblock %}

{% block head %}

{% endblock %}


{% block body %}
<h1>{{ name }} </h1>

  
  <h2> {{ description }} </h2>

  <h2> Median Home Price: {{ median_home }} </h2>

  <h2> Median Rental Price: {{ median_rental }} </h2>

  <h2> Walk Score: {{ walk_score }} </h2>

  <h2> Transit Score: {{ transit_score }} </h2>

  <h2> Image link: {{ images }} </h2>

  <h2> Restaurants </h2>
    
      {% for restaurant in restaurant_data %}
      <ul>
        <h4>{{ restaurant.name }}</h4>
        <li>{{ restaurant.formatted_address }}</li>
        <li>{{ restaurant.rating }}</li>
        <li><a href="{{ restaurant.website }}">Link</a></li>
     </ul>
      {% endfor %}

    <button id="find-housing">Find Housing</button>
    <button id="post-housing">Post Housing</button>
    <p>
      <button id="back">Back</button>
    </p>

  
{% endblock %}