{% extends 'base.html' %}

{% block body %}

    <h1>{{ name }} housing:</h1>

        <form action="/handle_posting" method="POST">
           <p>
               Posting Title: <input type="text" name="title"> 
           </p>
           
           <p>  Posting <br/>
                Description: <textarea name="desc"></textarea>
            </p>
           <p>
                How should interested parties contact you? 
                <textarea name="contact_info"></textarea>
            </p>
           <p>
            <form action="/handle_posting" method="POST">
             <button type="submit">Submit
             </button>
           </form>
         </form>
     
    <a href="/postings_map">Post in a different neighborhood</a>

{% endblock %}